<!DOCTYPE html>

html
head
    title Services
body
    nav
    a(href='/') Home
    a(href='/services') Services
    a(href='/contact') Contact Us

    .container
    header
        h1 Services

    .content
        p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        | Sed auctor dignissim lectus a pulvinar. Sed faucibus
        | risus a mi semper, sit amet aliquet lectus eleifend.

        a.button(href='#') Get Started
